:root {
    --arrow-bg: rgb(255, 255, 255);
    --arrow-icon: url(../image/caret-down-solid.svg);
    --option-bg: white, 1px solid;
    --select-bg: rgb(255, 255, 255);
  }

body {
    padding: 0 25px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid grey;
}

.logo {
    font-weight: bold;
    font-size: 1.5em;
}

.nav-menu {
    display: flex;
}

.nav-item {
    border: 0.5px solid grey;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    text-decoration: none;
    color: black;
}

.content-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-title  h4{
    font-weight: normal;
    font-size: 1.2em;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.content-left {
    box-sizing: border-box;
    width: 60%;
}

.content-image {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-image img {
    box-sizing: border-box;
    width: 100%;
}

.content-image p {
    color: gray;
    font-size: 1.5em;
}

.content-right {
    display: flex;
    width: 40%;
    
}

.contact-form {
    display: flex;
    flex-direction: column ;
    width: 100%;
    padding: 30px 50px;
    background-color : #EEF0F4 ;
    border-radius: 6px;
    height: 450px;
}

.contact-form p {
    color: gray;
}

label {
    padding: 5px 0;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid gray;
}

select {
    cursor: pointer;
    margin-bottom: 20px;
    /* reset */
    appearance: none;
    border: 2px solid gray;
    outline: 0;
    font: inherit;
    /* personalize */
    padding: 10px;
    background: var(--arrow-icon) no-repeat right 0.8em center / .8em, /* Ubah nilai ukuran dan posisi di sini */
        linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
    color: #757575;
    border-radius: 6px;
    cursor: pointer;
    /* Remove IE arrow */
    &::-ms-expand {
        display: none;
    }
    /* Remove focus outline */
    &:focus {
        text-decoration-color: black;
    }
}

select::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0.5em; /* Sesuaikan posisi border */
    bottom: 0;
    width: 2px; /* Lebar border */
    background-color: gray; /* Warna border abu-abu */
}

#interest option:disabled {
    color: gray;
}

#interest option:enabled {
    color: black;
}

#interest option:checked {
    color: black; /* Mengubah warna teks menjadi hitam */
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background: #29323D;
    color: white;
    padding: 15px 0;
    margin-top: 10px;
    border-radius: 6px;
    font-size: 1.2em;
}

.button:hover {
    background: black;
    color: grey;
}

.customer-profile {
    display: flex;
    flex-direction: row;
    gap: 30px;
    left: 50px;
    position: relative;
    padding: 30px 0;
}

.customer-profile__line {
    margin: 0 auto;
    background-color: #EEF0F4;
    width: 150px;
    height: 5px;
    border-radius: 1%;
}

.customer-profile__img {
    display: flex;
    align-items: center;
}

.customer-profile__img img {
    width: 50px;
    border-radius: 50%;
}

.nama-customer {
    line-height: .2em;
}

.attribute-customer {
    color: gray;
}

.circle {
    background: #EEF0F4;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.daftar-layanan {
    display: flex;
    align-items: center;
    gap: 30px;
}

.daftar-layanan p {
    font-size: 1.5em;
}

.deskripsi-layanan {
    font-weight: bold;
    font-size: 1.3em;
    padding: 40px 0;
}